<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}

{% block meta %}
  <link rel="stylesheet" href="{% static 'cek_lokasi/cek_lokasi.css' %}">
{% endblock %}

{% block content %}

  <div class="w-screen h-screen flex">


    <section class="w-1/2 p-16 h-full bg-gradient-to-r from-yellow-200  to-blue-500 flex flex-col justify-center items-center">
      <img src="{% static 'faskes/assets/faskes.png' %}" alt="login-asset" />
      <a class="outline-none focus:outline-none active:outline-none" href="{% url 'dashboard:landing' %}">
        <h5 class="text-white text-xl mt-12">
          <span class="font-bold text-white-800">Kembali ke</span> <span class="font-bold text-blue-800">Halaman Depan</span>

        </h5>
      </a>
    </section>

    <section class="w-1/2 h-full bg-gray-100 flex flex-col text-center justify-center items-center">
      <div class="w-7/12 p-10 bg-white rounded-2xl filter drop-shadow-xl">
        <h5 class="text-blue-500 font-bold text-5xl">Tambah Fasilitas Kesehatan</h5>
        <h6 class="mt-2">Silahkan Masukan Data Fasilitas Kesehatan Baru.</h6>
        


        <form class="flex flex-col w-full justify-center items-center mt-5" method="POST" action="{% url 'cek_lokasi:insert_to_faskes_table' %}">
          {% csrf_token %}
          <div style="margin: -5px 0;" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label w-10/12">
            <input required id="kode_faskes" class="mdl-textfield__input" name="kode_faskes" type="text" autocorrect="off" spellcheck="false" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
            <label class="mdl-textfield__label" for="sample1">Kode Faskes</label>
          </div>
          
          <!-- Id Lokasi: [Dropdown, diambil dari data lokasi]-->
          <div style="margin: -5px 0;" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height w-10/12">
            <input required type="text" value="" class="mdl-textfield__input" id="id" readonly onchange="handleIDLokasiSelect(this.value)">
            <input type="hidden" value="" name="pilih-id">
            <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
            <label for="sample5" class="mdl-textfield__label">Id Lokasi</label>
            <ul for="sample5" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">

    
                {% for i in id %}
                  <li class="mdl-menu__item" data-val="id_lokasi">{{ i }}</li>
                {% endfor %}

            </ul>
          </div>

          <!-- Lokasi: [Generate otomatis yang terdiri dari alamat lengkap, berdasarkan Id Lokasi yang dipilih, disabled] -->
          <div style="margin: -5px 0;" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label w-10/12">
            <input  disable class="mdl-textfield__input" type="text" autocorrect="off" spellcheck="false" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
            <label class="mdl-textfield__label text-black" for="sample1" id ="generate_kabupaten">Kabupaten / Kota</label>
            <!-- tambahin yang nyimpen hasil select dari kursor -->


          </div>

          <div style="margin: -5px 0;" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label w-10/12">
            <input  disable class="mdl-textfield__input" type="text" autocorrect="off" spellcheck="false" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
            <label class="mdl-textfield__label text-black" for="sample1" id ="generate_kecamatan">Kecamatan</label>
            <!-- tambahin yang nyimpen hasil select dari kursor -->


          </div>

          <div style="margin: -5px 0;" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label w-10/12">
            <input  disable class="mdl-textfield__input" type="text" autocorrect="off" spellcheck="false" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
            <label class="mdl-textfield__label text-black" for="sample1" id ="generate_kelurahan">Kelurahan</label>
            <!-- tambahin yang nyimpen hasil select dari kursor -->


          </div>

          <div style="margin: -5px 0;" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label w-10/12">
            <input  disable class="mdl-textfield__input"  type="text" autocorrect="off" spellcheck="false" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
            <label class="mdl-textfield__label text-black" for="sample1" id ="generate_no">No Jalan</label>
            <!-- tambahin yang nyimpen hasil select dari kursor -->


          </div>

          <!-- Petugas Faskes: [Dropdown, diambil dari data petugas faskes] -->
          <div style="margin: -5px 0;" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height w-10/12">
            <input required type="text" value="" class="mdl-textfield__input" id="petugas-faskes" readonly onchange="handlePetugasFaskesSelected(this.value)">
            <input type="hidden" value="" name="pilih-petugas-faskes">
            <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
            <label for="sample5" class="mdl-textfield__label">Petugas Faskes</label>
            <ul for="sample5" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">

    
                {% for i in username %}
                  <li class="mdl-menu__item" data-val="petugas_faskes">{{ i }}</li>
                {% endfor %}

            </ul>
          </div>

          <!-- Kode Tipe Faskes: [Dropdown, diambil dari data tipe faskes] -->
          <div style="margin: -5px 0;" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height w-10/12">
            <input required type="text" value="" class="mdl-textfield__input" id="kode">
            <input type="hidden" value="" name="pilih-kode-tipe-faskes">
            <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
            <label for="sample5" class="mdl-textfield__label">Kode Tipe Faskes</label>
            <ul for="sample5" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">

    
                {% for i in kode %}
                  <li class="mdl-menu__item" data-val="kode_tipe_faskes">{{ i }}</li>
                {% endfor %}

            </ul>
          </div>

          <!-- Tipe Faskes: [Generate otomatis, berdasarkan Kode Tipe Faskes yang dipilih,disabled] -->

          <div style="margin: -5px 0;" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label w-10/12">
            <input required disabled  class="mdl-textfield__input"  type="text" autocorrect="off" spellcheck="false" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
            <label class="mdl-textfield__label text-black" for="sample1" id="tipe_faskes">Tipe Faskes</label>
            <!-- tambahin yang nyimpen hasil select dari kursor -->


          </div>

          <div class="flex mt-5">
            <a href="{% url 'cek_lokasi:insert_to_faskes_table' %}" class="focus:outline-none">
            <button type="submit" class="bg-gradient-to-r from-blue-500 to-yellow-400 font-bold text-white py-2 px-4 rounded mr-2">
              Tambah
            </button>
            </a>
          </div>
        </form>
      </div>
    </section>
  </div>
{% endblock %}

{% block script %}
  <script>
    $('#id').on('change', function(){
      var temp_id = $(this).val()
      console.log(temp_id);


      var url_untuk_dipanggil = "/cek_lokasi/response-id/"

      $.ajax({
        method : 'GET',

        data:
        {'id' : temp_id},
        url : url_untuk_dipanggil,
        success : function(out){

          // var obj_hasil = $('#id');
    
          var generate_kabupaten = $('#generate_kabupaten');
          var generate_kecamatan = $('#generate_kecamatan');
          var generate_kelurahan = $('#generate_kelurahan');
          var generate_no = $('#generate_no');
          generate_kabupaten.empty();
          generate_kecamatan.empty();
          generate_kelurahan.empty();
          generate_no.empty();

       
          const obj = JSON.parse(out);

          for(i = 0; i < obj.length; i++){
            var dict = obj[i]
      
            console.log(dict['id'])
            generate_kabupaten.append('<h6 class="mt-2">Kabupaten / Kota : '+dict['kabkot'] +'</h6>')
            generate_kecamatan.append('<h6 class="mt-2">Kecamatan        : '+dict['kecamatan'] +'</h6>')
            generate_kelurahan.append('<h6 class="mt-2">Kelurahan        : '+dict['kelurahan'] +'</h6>')
            generate_no.append('<h6 class="mt-2">No Jalan                : '+dict['jalan_no'] +'</h6>')
          }

          // getmdlSelect.init('#id-lokasi-select');

    
        }
      })

    });

    $('#kode').on('change', function(){
      var temp_kode = $(this).val()
      console.log(temp_kode);

      var url_untuk_dipanggil = "/cek_lokasi/response-kode/"

      $.ajax({
        method : 'GET',

        data:
        {'kode' : temp_kode},
        url : url_untuk_dipanggil,
        success : function(out){

          var obj_hasil = $('#tipe_faskes');

          obj_hasil.empty();
          const obj = JSON.parse(out);

          for(i = 0; i < obj.length; i++){
            var dict = obj[i]
      
            console.log(dict['nama_tipe'])
            obj_hasil.append('<h6 class="mt-2">Nama Tipe Fasilitas Kesehatan : '+ dict['nama_tipe'] +'</h6>')
           
          }
        }
      })

    });

    const handleIDLokasiSelect = (selectValue) => {
    const dataObject = document.querySelector(`#${selectValue}`);
    const data = dataObject.getAttribute('id_lokasi');

    const namaFaskesObject = document.querySelector('#nama-faskes');
    // namaFaskesObject.parentElement.classList.add('is-dirty');
    namaFaskesObject.value = data;
    };

    const handlePetugasFaskesSelected = (selectValue) => {
    const dataObject = document.querySelector(`#${selectValue}`);
    const data = dataObject.getAttribute('petugas_faskes');

    const namaFaskesObject = document.querySelector('#nama-faskes');
    // namaFaskesObject.parentElement.classList.add('is-dirty');
    namaFaskesObject.value = data;
    };
  </script>

  

{% endblock %}