<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}

{% block meta %}
  <link rel="stylesheet" href="{% static 'cek_lokasi/cek_lokasi.css' %}">
{% endblock %}

{% block content %}

  <div class="w-screen h-screen flex">


    <section class="w-1/2 p-16 h-full bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 flex flex-col justify-center items-center">
      <img src="{% static 'warehousesatgas/assets/warehouse.png' %}" alt="login-asset" />
      <a class="outline-none focus:outline-none active:outline-none" href="{% url 'dashboard:landing' %}">
        <h5 class="text-white text-xl mt-12">
          Kembali ke <span class="font-bold text-yellow-400">Halaman Depan</span>

        </h5>
      </a>
    </section>

    <section class="w-1/2 h-full bg-gray-100 flex flex-col text-center justify-center items-center">
      <div class="w-7/15 p-10 bg-white rounded-2xl filter drop-shadow-xl">
        <h5 class="text-pink-500 font-bold text-5xl">Tambah Warehouse Satgas Baru</h5>
        <h6 class="mt-2">Silahkan Masukan Data Warehouse Satgas Baru.</h6>
        


        <form class="flex flex-col w-full justify-center items-center mt-5" method="POST" action="{% url 'cek_lokasi:insert_to_ws_table' %}">
          {% csrf_token %}
          <div style="margin: -5px 0;" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height w-10/12">
            <input required type="text" value="" class="mdl-textfield__input" id="provinsi">
            <input type="hidden" value="" name="pilih-provinsi">
            <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
            <label for="sample5" class="mdl-textfield__label">Provinsi</label>
            <ul for="sample5" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">

                {% for i in provinsi %}
                  <li class="mdl-menu__item" data-val="provinsi">{{ i | title }}</li>
                {% endfor %}

            </ul>
          </div>
          <div id="id-lokasi-select" style="margin: -5px 0;" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height w-10/12">
            <input required type="text" value="" class="mdl-textfield__input" id="id_lokasi">
            <input type="hidden" value="" name="pilih_id">
            <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
            <label for="sample6" class="mdl-textfield__label">Id Lokasi</label>
            <ul for="sample6" class="mdl-menu mdl-menu--bottom-left mdl-js-menu" id="id">

              
            </ul>
          </div>


          <div style="margin: -5px 0;" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label w-10/12">
            <input required disable class="mdl-textfield__input" name="nama-organisasi" type="text" autocorrect="off" spellcheck="false" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
            <label class="mdl-textfield__label text-black" for="sample1" id ="generate_kabupaten"></label>
            <!-- tambahin yang nyimpen hasil select dari kursor -->


          </div>

          <div style="margin: -5px 0;" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label w-10/12">
            <input required disable class="mdl-textfield__input" name="nama-organisasi" type="text" autocorrect="off" spellcheck="false" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
            <label class="mdl-textfield__label text-black" for="sample1" id ="generate_kecamatan"></label>
            <!-- tambahin yang nyimpen hasil select dari kursor -->


          </div>

          <div style="margin: -5px 0;" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label w-10/12">
            <input required disable class="mdl-textfield__input" name="nama-organisasi" type="text" autocorrect="off" spellcheck="false" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
            <label class="mdl-textfield__label text-black" for="sample1" id ="generate_kelurahan"></label>
            <!-- tambahin yang nyimpen hasil select dari kursor -->


          </div>

          <div style="margin: -5px 0;" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label w-10/12">
            <input required disable class="mdl-textfield__input" name="nama-organisasi" type="text" autocorrect="off" spellcheck="false" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
            <label class="mdl-textfield__label text-black" for="sample1" id ="generate_no"></label>
            <!-- tambahin yang nyimpen hasil select dari kursor -->


          </div>
          <div class="flex mt-5">
            <a href="{% url 'cek_lokasi:insert_to_ws_table' %}" class="focus:outline-none">
              <button type="submit" class="bg-gradient-to-r from-blue-500 to-yellow-400 font-bold text-white py-2 px-4 rounded mr-2">
                Tambah
              </button>
              </a>
          </div>
        </form>
      </div>
    </section>
  </div>
{% endblock %}

{% block script %}
  <script>
    $('#provinsi').on('change', function(){
      var temp_provinsi = $(this).val()
      console.log(temp_provinsi);


      var url_untuk_dipanggil = "/cek_lokasi/response-lokasi"

      $.ajax({
        method : 'GET',

        data:
        {'provinsi' : temp_provinsi},
        url : url_untuk_dipanggil,
        success : function(out){

          var obj_hasil = $('#id');
          var generate_kabupaten = $('#generate_kabupaten');
          var generate_kecamatan = $('#generate_kecamatan');
          var generate_kelurahan = $('#generate_kelurahan');
          var generate_no = $('#generate_no');
          obj_hasil.empty();
          generate_kabupaten.empty();
          generate_kecamatan.empty();
          generate_kelurahan.empty();
          generate_no.empty();
          const obj = JSON.parse(out);

          for(i = 0; i < obj.length; i++){
            var dict = obj[i]
            console.log(dict['id'])

            obj_hasil.append('<li class="mdl-menu__item" data-val="' + dict['id'] + '">'+ dict['id'] + '</li>');
            generate_kabupaten.append('<h6 class="mt-2">Kabupaten / Kota : '+dict['kabkot'] +'</h6>')
            generate_kecamatan.append('<h6 class="mt-2">Kecamatan        : '+dict['kecamatan'] +'</h6>')
            generate_kelurahan.append('<h6 class="mt-2">Kelurahan        : '+dict['kelurahan'] +'</h6>')
            generate_no.append('<h6 class="mt-2">No Jalan                : '+dict['jalan_no'] +'</h6>')
          }

          getmdlSelect.init('#id-lokasi-select');

        }
      })

    });
  </script>

{% endblock %}