<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}

{% block meta %}
  <link rel="stylesheet" href="{% static 'cek_lokasi/cek_lokasi.css' %}">
{% endblock %}

{% block content %}
  <div class="bg-gray-100">
    <section style="height: 40vh;" class="w-full bg-gradient-to-b from-blue-500  to-yellow-200 flex flex-col justify-center items-center">
      <h2 class="text-white font-bold text-6xl">Fasilitas Kesehatan</span></h2>
      <div class="flex mt-10">
        <div class="bg-gray-200 text-pink-500 font-bold cursor-default text-xl py-1 px-2 mx-1 rounded">👤 {{ username }}</div>
        <div class="bg-gray-200 text-pink-500 font-bold cursor-default text-xl py-1 px-2 mx-1 rounded">👨‍💼 {{ user_role }}</div>
      </div>
      <a href="{% url 'dashboard:dashboard' %}" class="focus:outline-none">
        <button type="button" class="bg-blue-400 mx-2 w-56 text-white font-bold py-2 px-4 border rounded mr-2 mt-10 focus:outline-none focus:ring">
          Kembali ke Dashboard
        </button>
      </a>
    </section>
    <section style="min-height: 60vh;" class="px-20 py-10">
      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp w-full">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">Kode Faskes</th>
            <th class="mdl-data-table__cell--non-numeric">Lokasi</th>
            <th class="mdl-data-table__cell--non-numeric">Petugas Faskes</th>
            <th class="mdl-data-table__cell--non-numeric">Tipe Faskes</th>
            {% if user_role == "ADMIN_SATGAS" %}
                <th class="mdl-data-table__cell--non-numeric">Action</th>
            {% endif %}
 
          </tr>
        </thead>
        <tbody>
          {% for isi in rows %}
            <tr>
              <td class="mdl-data-table__cell--non-numeric">{{ isi.kode_faskes }}</td>
              <td class="mdl-data-table__cell--non-numeric">
                  <p>Provnsi            : {{ isi.provinsi }}</p>
                  <p>Kabupaten / Kota   : {{ isi.kabupaten }}</p>
                  <p>Kecamatan          : {{ isi.kecamatan }}</p>
                  <p>Kelurahan          : {{ isi.kelurahan }}</p>
                  <p>Jalan No           : {{ isi.jalan_no }}</p>

            </td>
            
              <td class="mdl-data-table__cell--non-numeric">{{ isi.petugas_faskes }}</td>
              <td class="mdl-data-table__cell--non-numeric">{{ isi.tipe_faskes }}</td>

              {% if user_role == "ADMIN_SATGAS" %}
                <td class="mdl-data-table__cell--non-numeric">
                    <div class="flex">
                        <a href="{% url 'cek_lokasi:delete_faskes' isi.kode_faskes %}">
                            <div style="margin: 0 4.5px;" class="font-bold cursor-pointer hover:bg-red-800 bg-red-700 p-2 min-w-7 h-7 flex items-center justify-center text-white rounded">Delete</div>
                        </a>
                        <div style="margin: 0 4.5px;" class="font-bold cursor-pointer hover:bg-green-500 bg-green-600 p-2 min-w-7 h-7 flex items-center justify-center text-white rounded">Update</div>
                    </div>
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  </div>
{% endblock %}

  