<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}

{% block meta %}
  <link rel="stylesheet" href="{% static 'users/login.css' %}">
{% endblock %}

{% block content %}
  <div class="w-screen h-screen flex">
    <section class="w-1/2 p-16 h-full bg-gradient-to-b from-green-400 via-green-500 to-green-600 flex flex-col justify-center items-center">
      <img src="{% static 'dashboard/assets/register-asset.png' %}" alt="register-asset" />
      <a class="outline-none focus:outline-none active:outline-none" href="{% url 'users:login' %}">
        <h5 class="text-white text-xl mt-12">
          Sudah punya akun? <span class="font-bold text-yellow-400">Masuk</span>
        </h5>
      </a>
    </section>

    <section class="w-1/2 h-full bg-gray-100 flex flex-col text-center justify-center items-center">
      <div class="w-9/12 px-5 py-8 bg-white rounded-2xl filter drop-shadow-xl">
        <h5 class="text-green-400 font-bold text-5xl">Halaman Pendaftaran</h5>
        <h6 class="mt-2">Buat akun terlebih dahulu untuk bisa masuk ke dalam SIDIA.</h6>

        <form class="flex flex-col w-full justify-center items-center mt-5" method="POST" action="{% url 'users:register' %}">
          {% csrf_token %}
          <div style="margin: -5px 0;" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height w-10/12">
            <input type="text" value="" class="mdl-textfield__input" id="mendaftar-sebagai" readonly onchange="handleMendaftarSebagaiSelect(this.value)">
            <input type="hidden" value="" name="mendaftar-sebagai">
            <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
            <label for="mendaftar-sebagai" class="mdl-textfield__label">Mendaftar Sebagai</label>
            <ul for="mendaftar-sebagai" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                <li class="mdl-menu__item" data-val="ADMIN_SATGAS">Admin Satgas</li>
                <li class="mdl-menu__item" data-val="PETUGAS_FASKES">Petugas Faskes</li>
                <li class="mdl-menu__item" data-val="SUPPLIER">Supplier</li>
                <li class="mdl-menu__item" data-val="PETUGAS_DISTRIBUSI">Petugas Distribusi</li>
            </ul>
          </div>
          <div style="margin: -5px 0;" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label w-10/12">
            <input maxlength="20" required value="" id="nama-organisasi" class="mdl-textfield__input" name="nama-organisasi" type="text" autocorrect="off" spellcheck="false" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
            <label class="mdl-textfield__label" for="sample1">Nama Organisasi</label>
          </div>

          <div style="margin: -5px 0;" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label w-10/12 mt-5">
            <input maxlength="50" required id="username" class="mdl-textfield__input" name="username" type="text" autocorrect="off" spellcheck="false" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
            <label class="mdl-textfield__label" for="sample1">Username</label>
          </div>
          <div style="margin: -5px 0;" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label w-10/12">
            <input maxlength="20" required id="password" class="mdl-textfield__input" name="password" type="password" autocorrect="off" spellcheck="false" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
            <label class="mdl-textfield__label" for="sample1">Password</label>
          </div>
          <div style="margin: -5px 0;" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label w-10/12">
            <input maxlength="50" required id="password" class="mdl-textfield__input" name="nama" type="text" autocorrect="off" spellcheck="false" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
            <label class="mdl-textfield__label" for="sample1">Nama</label>
          </div>

          <div class="flex w-10/12 justify-between mt-5">
            <div style="margin: -5px 0;" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label w-5/12">
              <input maxlength="20" required id="kelurahan" class="mdl-textfield__input" name="kelurahan" type="text" autocorrect="off" spellcheck="false" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
              <label class="mdl-textfield__label" for="sample1">Kelurahan</label>
            </div>
            <div style="margin: -5px 0;" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label w-5/12">
              <input maxlength="20" required id="kecamatan" class="mdl-textfield__input" name="kecamatan" type="text" autocorrect="off" spellcheck="false" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
              <label class="mdl-textfield__label" for="sample1">Kecamatan</label>
            </div>
          </div>
          <div class="flex w-10/12 justify-between">
            <div style="margin: -5px 0;" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label w-5/12">
              <input maxlength="20" required id="kota" class="mdl-textfield__input" name="kota" type="text" autocorrect="off" spellcheck="false" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
              <label class="mdl-textfield__label" for="sample1">Kabupaten/Kota</label>
            </div>
            <div style="margin: -5px 0;" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label w-5/12">
              <input maxlength="20" required id="provinsi" class="mdl-textfield__input" name="provinsi" type="text" autocorrect="off" spellcheck="false" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
              <label class="mdl-textfield__label" for="sample1">Provinsi</label>
            </div>
          </div>
          <div style="margin: -5px 0;" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label w-10/12">
            <input maxlength="15" required id="nomor-telepon" class="mdl-textfield__input" name="nomor-telepon" type="text" autocorrect="off" spellcheck="false" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
            <label class="mdl-textfield__label" for="sample1">Nomor Telepon</label>
          </div>
          <div style="margin: -5px 0;" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label w-10/12">
            <input maxlength="15" required value="" id="nomor-sim" class="mdl-textfield__input" name="nomor-sim" type="text" autocorrect="off" spellcheck="false" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
            <label class="mdl-textfield__label" for="sample1">Nomor SIM</label>
          </div>
          {% for message in messages %}
            <div class="text-red-400">{{ message }}</div>
          {% endfor %}
          <div class="flex mt-5">
            <button type="submit" class="bg-transparent w-40 bg-green-400 font-bold text-white py-2 px-4 border border-green-400 rounded mr-2">
              Daftar
            </button>
          </div>
        </form>
      </div>
    </section>
  </div>
{% endblock %}

{% block script %}
  <script>
    const namaOrganisasiFormObject = document.getElementById("nama-organisasi");
    namaOrganisasiFormObject.parentElement.classList.add("hidden");

    const nomorSimFormObject = document.getElementById("nomor-sim");
    nomorSimFormObject.parentElement.classList.add("hidden")

    const handleMendaftarSebagaiSelect = (selectValue) => {
      if (selectValue === "Supplier")
        namaOrganisasiFormObject.parentElement.classList.remove("hidden");
      else {
        if (!namaOrganisasiFormObject.parentElement.classList.contains("hidden"))
          namaOrganisasiFormObject.parentElement.classList.add("hidden");
      }

      if (selectValue === "Petugas Distribusi")
        nomorSimFormObject.parentElement.classList.remove("hidden");
      else {
        if (!nomorSimFormObject.parentElement.classList.contains("hidden"))
          nomorSimFormObject.parentElement.classList.add("hidden");
      }
    };
  </script>
{% endblock %}