<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}

{% block meta %}
{% endblock %}

{% block content %}
  <div class="bg-gray-100">
    <section style="height: 40vh;" class="w-full bg-gradient-to-b from-red-300 to-pink-400 flex flex-col justify-center items-center">
      <h2 class="text-white font-bold text-6xl">Pesanan Sumber Daya</span></h2>
      <div class="flex mt-10">
        <div class="bg-gray-200 text-pink-500 font-bold cursor-default text-xl py-1 px-2 mx-1 rounded">👤 {{ username }}</div>
        <div class="bg-gray-200 text-pink-500 font-bold cursor-default text-xl py-1 px-2 mx-1 rounded">👨‍💼 {{ user_role }}</div>
      </div>
      <a href="{% url 'dashboard:dashboard' %}" class="focus:outline-none">
        <button type="button" class="bg-blue-400 mx-2 w-56 text-white font-bold py-2 px-4 border rounded mr-2 mt-10 focus:outline-none focus:ring">
          Kembali ke Dashboard
        </button>
      </a>
    </section>
    <section style="min-height: 60vh;" class="px-20 py-10">
      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp w-full">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">No. Transaksi</th>
            <th class="mdl-data-table__cell--non-numeric">Petugas Satgas</th>
            <th class="mdl-data-table__cell--non-numeric">Tanggal</th>
            <th>Total Berat</th>
            <th>Total Item</th>
            <th>Total Harga</th>
            <th class="mdl-data-table__cell--non-numeric">Status</th>
            <th class="mdl-data-table__cell--non-numeric">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for order in order_data %}
            <tr>
              <td class="mdl-data-table__cell--non-numeric">TOR{{ order.nomor }}</td>
              <td class="mdl-data-table__cell--non-numeric">{{ order.username_admin_satgas }}</td>
              <td class="mdl-data-table__cell--non-numeric">{{ order.tanggal }}</td>
              <td>{{ order.total_berat }} Kg</td>
              <td>{{ order.total_item }}</td>
              <td>Rp {{ order.total_harga }}</td>
              <td class="mdl-data-table__cell--non-numeric">{{ order.kode }}</td>
              <td class="mdl-data-table__cell--non-numeric">
                <div class="flex">
                  {% if order.kode == "REQ-SUP" %}
                    {% if user_role == "Admin Satgas" %}
                      <a href="">
                        <div style="margin: 0 4.5px;" class="font-bold cursor-pointer hover:bg-red-800 bg-red-700 p-2 min-w-7 h-7 flex items-center justify-center text-white rounded">Delete</div>
                      </a>
                      <a href="">
                        <div style="margin: 0 4.5px;" class="font-bold cursor-pointer hover:bg-green-500 bg-green-600 p-2 min-w-7 h-7 flex items-center justify-center text-white rounded">Update</div>
                      </a>
                    {% elif user_role == "Supplier" %}
                      <a href="{% url 'pesanan:riwayat-reject' order.nomor %}">
                        <div style="margin: 0 4.5px;" class="font-bold cursor-pointer hover:bg-red-500 bg-red-600 p-2 min-w-7 h-7 flex items-center justify-center text-white rounded">Reject</div>
                      </a>
                      <a href="{% url 'pesanan:riwayat-process' order.nomor %}">
                        <div style="margin: 0 4.5px;" class="font-bold cursor-pointer hover:bg-blue-500 bg-blue-400 p-2 min-w-7 h-7 flex items-center justify-center text-white rounded">Process</div>
                      </a>
                    {% endif %}
                  {% endif %}
                </div>
                {% if user_role == "Supplier" %}
                  <div class="flex mt-2">
                    <a href="">
                      <div style="margin: 0 4.5px;" class="font-bold cursor-pointer hover:bg-blue-700 bg-blue-600 p-2 min-w-7 h-7 flex items-center justify-center text-white rounded">Detail</div>
                    </a>
                    <a href="{% url 'pesanan:riwayat-status' order.nomor %}">
                      <div style="margin: 0 4.5px;" class="font-bold cursor-pointer hover:bg-yellow-500 bg-yellow-400 p-2 min-w-7 h-7 flex items-center justify-center text-white rounded">Riwayat Status</div>
                    </a>
                    {% if order.kode == "PRO-SUP" %}
                      <a href="{% url 'pesanan:riwayat-problem' order.nomor %}">
                        <div style="margin: 0 4.5px;" class="font-bold cursor-pointer hover:bg-green-700 bg-green-600 p-2 min-w-7 h-7 flex items-center justify-center text-white rounded">Selesai</div>
                      </a>
                    {% endif %}
                  </div>
                  <div class="flex mt-2">
                    {% if order.kode == "PRO-SUP" %}
                      <a href="{% url 'pesanan:riwayat-finish' order.nomor %}">
                        <div style="margin: 0 4.5px;" class="font-bold cursor-pointer hover:bg-red-500 bg-red-400 p-2 min-w-7 h-7 flex items-center justify-center text-white rounded">Selesai Dengan Masalah</div>
                      </a>
                    {% endif %}
                  </div>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  </div>
{% endblock %}
