<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="w-screen h-screen flex">
    <section class="w-1/2 p-16 h-full bg-gradient-to-b from-red-300 via-pink-400 to-pink-500 flex flex-col justify-center items-center">
      <img src="{% static 'dashboard/assets/login-asset.png' %}" alt="login-asset" />
      <a class="outline-none focus:outline-none active:outline-none" href="{% url 'pesanan:pesanan' %}">
        <h5 class="text-white text-xl mt-12">
          Kembali ke <span class="font-bold text-yellow-400">Pesanan Sumber Daya</span>
        </h5>
      </a>
    </section>

    <section class="w-1/2 h-full bg-gray-100 flex flex-col text-center justify-center items-center">
      <div class="w-10/12 p-10 bg-white rounded-2xl filter drop-shadow-xl">
        <h5 class="text-pink-500 font-bold text-5xl">Buat Pesanan</h5>
        <h6 class="mt-2">Membuat pesanan sumber daya.</h6>

        <form class="flex flex-col w-full justify-center items-center mt-10" method="POST" action="{% url 'users:login' %}">
          {% csrf_token %}
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label w-11/12">
            <input maxlength="50" required class="mdl-textfield__input" name="username" type="text" autocorrect="off" spellcheck="false" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
            <label class="mdl-textfield__label" for="sample1">Username</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label w-11/12 mt-2">
            <input maxlength="20" required class="mdl-textfield__input" name="password" type="password" autocorrect="off" spellcheck="false" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
            <label class="mdl-textfield__label" for="sample1">Password</label>
          </div>
          {% for message in messages %}
            <div class="text-red-400">{{ message }}</div>
          {% endfor %}
          <div class="flex mt-10">
            <button type="submit" class="bg-transparent mx-2 w-36 bg-green-400 font-bold text-white py-2 px-4 border border-green-400 rounded mr-2">
              Masuk
            </button>
            <a href="{% url 'users:register' %}" class="focus:outline-none">
              <button type="button" class="bg-transparent mx-2 w-36 text-gray-400 font-bold py-2 px-4 border border-gray-400 rounded mr-2 focus:outline-none focus:ring focus:border-gray-500">
                Daftar
              </button>
            </a>
          </div>
        </form>
      </div>
    </section>
  </div>
{% endblock %}