<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}

{% block meta %}
{% endblock %}

{% block content %}
  <div class="bg-gray-100">
    <section style="height: 40vh;" class="w-full bg-gradient-to-b from-red-300 to-pink-400 flex flex-col justify-center items-center">
      <h2 class="text-white font-bold text-6xl">Riwayat Status Pesanan TOR{{ no_transaksi }}</span></h2>
      <div class="flex mt-10">
        <div class="bg-gray-200 text-pink-500 font-bold cursor-default text-xl py-1 px-2 mx-1 rounded">👤 {{ username }}</div>
        <div class="bg-gray-200 text-pink-500 font-bold cursor-default text-xl py-1 px-2 mx-1 rounded">👨‍💼 {{ user_role }}</div>
      </div>
      <a href="{% url 'pesanan:pesanan' %}" class="focus:outline-none">
        <button type="button" class="bg-blue-400 mx-2 w-56 text-white font-bold py-2 px-4 border rounded mr-2 mt-10 focus:outline-none focus:ring">
          Kembali ke Riwayat Status Pesanan
        </button>
      </a>
    </section>
    <section style="min-height: 60vh;" class="px-20 py-10">
      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp w-full">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">No.</th>
            <th class="mdl-data-table__cell--non-numeric">Kode Status</th>
            <th class="mdl-data-table__cell--non-numeric">Status</th>
            <th class="mdl-data-table__cell--non-numeric">Username Supplier</th>
            <th class="mdl-data-table__cell--non-numeric">Tanggal Persetujuan</th>
          </tr>
        </thead>
        <tbody>
          {% for riwayat in riwayat_data %}
            <tr>
              <td class="mdl-data-table__cell--non-numeric">{{ riwayat.no }}</td>
              <td class="mdl-data-table__cell--non-numeric">{{ riwayat.kode_status_pesanan }}</td>
              <td class="mdl-data-table__cell--non-numeric">{{ riwayat.nama }}</td>
              <td class="mdl-data-table__cell--non-numeric">{{ riwayat.username_supplier }}</td>
              <td class="mdl-data-table__cell--non-numeric">{{ riwayat.tanggal }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  </div>
{% endblock %}
