<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="w-screen h-screen flex">
    <section class="w-1/2 p-16 h-full bg-gradient-to-b from-red-300 via-pink-400 to-pink-500 flex flex-col justify-center items-center">
      <img src="{% static 'dashboard/assets/login-asset.png' %}" alt="login-asset" />
      <a class="outline-none focus:outline-none active:outline-none" href="{% url 'pesanan:stok-faskes' %}">
        <h5 class="text-white text-xl mt-12">
          Kembali ke <span class="font-bold text-yellow-400">Stok Fasilitas Kesehatan</span>
        </h5>
      </a>
    </section>

    <section class="w-1/2 h-full bg-gray-100 flex flex-col text-center justify-center items-center">
      <div class="w-9/12 p-10 bg-white rounded-2xl filter drop-shadow-xl">
        <h5 class="text-pink-500 font-bold text-5xl">Ubah Stok Faskes</h5>
        <h6 class="mt-2">Mengubah jumlah stok fasilitas kesehatan.</h6>

        <form class="flex flex-col w-full justify-center items-center mt-10" method="POST" action="{% url 'pesanan:stok-faskes-update' faskes_data.kode_faskes_nasional item_data.kode %}">
          {% csrf_token %}
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label w-10/12 pointer-events-none">
            <input required data-kode="{{ faskes_data.kode_faskes_nasional }}" class="mdl-textfield__input pointer-events-none" name="kode-faskes" id="kode-faskes" type="text"readonly onfocus="this.removeAttribute('readonly');">
            <label class="mdl-textfield__label" for="sample1">Kode Faskes</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label w-10/12 pointer-events-none">
            <input required data-nama="{{ faskes_data.nama_tipe }}" class="mdl-textfield__input pointer-events-none" name="nama-faskes" id="nama-faskes" type="text"readonly onfocus="this.removeAttribute('readonly');">
            <label class="mdl-textfield__label" for="sample2">Nama Faskes</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label w-10/12 pointer-events-none">
            <input required data-kode="{{ item_data.kode }}" class="mdl-textfield__input pointer-events-none" name="kode-item-sumber-daya" id="kode-item-sumber-daya" type="text"readonly onfocus="this.removeAttribute('readonly');">
            <label class="mdl-textfield__label" for="sample3">Kode Item Sumber Daya</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label w-10/12 pointer-events-none">
            <input required data-nama="{{ item_data.nama }}" class="mdl-textfield__input pointer-events-none" name="item-sumber-daya" id="item-sumber-daya" type="text"readonly onfocus="this.removeAttribute('readonly');">
            <label class="mdl-textfield__label" for="sample4">Item Sumber Daya</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label w-10/12">
            <input required class="mdl-textfield__input" name="jumlah-item" id="jumlah-item" type="text" pattern="-?[0-9]*(\.[0-9]+)?" autocorrect="off" spellcheck="false" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
            <label class="mdl-textfield__label" for="sample5">Jumlah Item</label>
            <span class="mdl-textfield__error">Input hanya menerima angka!</span>
          </div>
          {% for message in messages %}
            <div class="text-red-400">{{ message }}</div>
          {% endfor %}
          <div class="flex mt-10">
            <button type="submit" class="bg-transparent mx-2 w-36 bg-pink-400 font-bold text-white py-2 px-4 border border-pink-400 rounded mr-2">
              Ubah Stok
            </button>
          </div>
        </form>
      </div>
    </section>
  </div>
{% endblock %}

{% block script %}
  <script>
    const kodeFaskesObject = document.querySelector('#kode-faskes');
    const kodeFaskesValue = kodeFaskesObject.getAttribute('data-kode');
    kodeFaskesObject.value = kodeFaskesValue;
    kodeFaskesObject.parentElement.classList.add('is-dirty');

    const namaFaskesObject = document.querySelector('#nama-faskes');
    const namaFaskesValue = namaFaskesObject.getAttribute('data-nama');
    namaFaskesObject.value = namaFaskesValue;
    namaFaskesObject.parentElement.classList.add('is-dirty');

    const kodeItemSumberDayaObject = document.querySelector('#kode-item-sumber-daya');
    const kodeItemSumberDayaValue = kodeItemSumberDayaObject.getAttribute('data-kode');
    kodeItemSumberDayaObject.value = kodeItemSumberDayaValue;
    kodeItemSumberDayaObject.parentElement.classList.add('is-dirty');

    const ItemSumberDayaObject = document.querySelector('#item-sumber-daya');
    const ItemSumberDayaValue = ItemSumberDayaObject.getAttribute('data-nama');
    ItemSumberDayaObject.value = ItemSumberDayaValue;
    ItemSumberDayaObject.parentElement.classList.add('is-dirty');
  </script>
{% endblock %}