<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}

{% block meta %}
{% endblock %}

{% block content %}
  <div class="bg-gray-100">
    <section style="height: 40vh;" class="w-full bg-gradient-to-b from-red-300 to-pink-400 flex flex-col justify-center items-center">
      <h2 class="text-white font-bold text-6xl">Stok Fasilitas Kesehatan</span></h2>
      <div class="flex mt-10">
        <div class="bg-gray-200 text-pink-500 font-bold cursor-default text-xl py-1 px-2 mx-1 rounded">👤 {{ username }}</div>
        <div class="bg-gray-200 text-pink-500 font-bold cursor-default text-xl py-1 px-2 mx-1 rounded">👨‍💼 {{ user_role }}</div>
      </div>
      <a href="{% url 'dashboard:dashboard' %}" class="focus:outline-none">
        <button type="button" class="bg-blue-400 mx-2 w-56 text-white font-bold py-2 px-4 border rounded mr-2 mt-10 focus:outline-none focus:ring">
          Kembali ke Dashboard
        </button>
      </a>
    </section>
    <section style="min-height: 60vh;" class="px-20 py-10">
      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp w-full">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">Kode Faskes</th>
            <th class="mdl-data-table__cell--non-numeric">Nama Faskes</th>
            <th class="mdl-data-table__cell--non-numeric">Item Sumber Daya</th>
            <th>Jumlah</th>
            {% if user_role == "Admin Satgas" %}
              <th class="mdl-data-table__cell--non-numeric">Action</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for stock in stock_data %}
            <tr>
              <td class="mdl-data-table__cell--non-numeric">{{ stock.kode_faskes }}</td>
              <td class="mdl-data-table__cell--non-numeric">{{ stock.nama_tipe|title }}</td>
              <td class="mdl-data-table__cell--non-numeric">{{ stock.nama }}</td>
              <td>{{ stock.jumlah_item }}</td>
              {% if user_role == "Admin Satgas" %}
                <td class="mdl-data-table__cell--non-numeric">
                  <div class="flex">
                    <a href="{% url 'pesanan:stok-faskes-update' stock.kode_faskes stock.kode_item %}">
                      <div style="margin: 0 4.5px;" class="font-bold cursor-pointer hover:bg-green-500 bg-green-600 p-2 min-w-7 h-7 flex items-center justify-center text-white rounded">Update</div>
                    </a>
                    <a href="{% url 'pesanan:stok-faskes-delete' stock.kode_faskes stock.kode_item %}">
                      <div style="margin: 0 4.5px;" class="font-bold cursor-pointer hover:bg-red-800 bg-red-700 p-2 min-w-7 h-7 flex items-center justify-center text-white rounded">Delete</div>
                    </a>
                  </div>
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  </div>
{% endblock %}
