<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="w-screen h-screen flex">
    <section class="w-1/2 p-16 h-full bg-gradient-to-b from-red-300 via-pink-400 to-pink-500 flex flex-col justify-center items-center">
      <img src="{% static 'dashboard/assets/login-asset.png' %}" alt="login-asset" />
      <a class="outline-none focus:outline-none active:outline-none" href="{% url 'pesanan:stok-faskes' %}">
        <h5 class="text-white text-xl mt-12">
          Kembali ke <span class="font-bold text-yellow-400">Stok Fasilitas Kesehatan</span>
        </h5>
      </a>
    </section>

    <section class="w-1/2 h-full bg-gray-100 flex flex-col text-center justify-center items-center">
      <div class="w-9/12 p-10 bg-white rounded-2xl filter drop-shadow-xl">
        <h5 class="text-pink-500 font-bold text-5xl">Buat Stok Faskes</h5>
        <h6 class="mt-2">Membuat stok fasilitas kesehatan.</h6>

        <form class="flex flex-col w-full justify-center items-center mt-10" method="POST" action="{% url 'pesanan:stok-faskes-create' %}">
          {% csrf_token %}
          <div style="margin: -5px 0;" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height w-10/12">
            <input type="text" value="" class="mdl-textfield__input" id="kode-faskes" readonly onchange="handleKodeFaskesSelect(this.value)">
            <input type="hidden" value="" name="kode-faskes">
            <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
            <label for="kode-faskes" class="mdl-textfield__label">Kode Faskes</label>
            <ul for="kode-faskes" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
              {% for faskes in faskes_data %}
                <li class="mdl-menu__item" id="{{ faskes.kode_faskes_nasional }}" data-val="{{ faskes.kode_faskes_nasional }}" data-nama="{{ faskes.nama_tipe }}">{{ faskes.kode_faskes_nasional }}</li>
              {% endfor %}
            </ul>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label w-10/12 pointer-events-none">
            <input required class="mdl-textfield__input pointer-events-none" name="nama-faskes" id="nama-faskes" type="text" autocorrect="off" spellcheck="false" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
            <label class="mdl-textfield__label" for="sample1">Nama Faskes</label>
          </div>
          <div style="margin: -5px 0;" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height w-10/12">
            <input type="text" value="" class="mdl-textfield__input" id="kode-item-sumber-daya" readonly onchange="handleItemSumberDayaSelect(this.value)">
            <input type="hidden" value="" name="kode-item-sumber-daya">
            <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
            <label for="kode-item-sumber-daya" class="mdl-textfield__label">Kode Item Sumber Daya</label>
            <ul for="kode-item-sumber-daya" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
              {% for item in item_data %}
                <li class="mdl-menu__item" id="{{ item.kode }}" data-val="{{ item.kode }}" data-nama="{{ item.nama }}">{{ item.kode }}</li>
              {% endfor %}
            </ul>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label w-10/12 pointer-events-none">
            <input required class="mdl-textfield__input pointer-events-none" name="item-sumber-daya" id="item-sumber-daya" type="text" autocorrect="off" spellcheck="false" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
            <label class="mdl-textfield__label" for="sample1">Item Sumber Daya</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label w-10/12">
            <input required class="mdl-textfield__input" name="jumlah-item" id="jumlah-item" type="text" pattern="-?[0-9]*(\.[0-9]+)?" autocorrect="off" spellcheck="false" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
            <label class="mdl-textfield__label" for="sample1">Jumlah Item</label>
            <span class="mdl-textfield__error">Input hanya menerima angka!</span>
          </div>
          {% for message in messages %}
            <div class="text-red-400">{{ message }}</div>
          {% endfor %}
          <div class="flex mt-10">
            <button type="submit" class="bg-transparent mx-2 w-36 bg-pink-400 font-bold text-white py-2 px-4 border border-pink-400 rounded mr-2">
              Buat Stok
            </button>
          </div>
        </form>
      </div>
    </section>
  </div>
{% endblock %}

{% block script %}
  <script>
    const handleKodeFaskesSelect = (selectValue) => {
      const dataObject = document.querySelector(`#${selectValue}`);
      const data = dataObject.getAttribute('data-nama');

      const namaFaskesObject = document.querySelector('#nama-faskes');
      namaFaskesObject.parentElement.classList.add('is-dirty');
      namaFaskesObject.value = data;
    };

    const handleItemSumberDayaSelect = (selectValue) => {
      const dataObject = document.querySelector(`#${selectValue}`);
      const data = dataObject.getAttribute('data-nama');

      const itemSumberDayaObject = document.querySelector('#item-sumber-daya');
      itemSumberDayaObject.parentElement.classList.add('is-dirty');
      itemSumberDayaObject.value = data;
    };
  </script>
{% endblock %}