<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}

{% block meta %}
{% endblock %}

{% block content %}
  <div class="bg-gray-100 min-h-screen min-w-screen">
    <section style="height: 50vh;" class="w-full bg-gradient-to-b from-green-400 via-green-500 to-green-600 flex flex-col justify-center items-center">
      <h2 class="text-white font-bold text-6xl">Selamat datang, <span class="text-yellow-400">{{ profile_data.nama }}.</span></h2>
      <div class="flex mt-10">
        <div class="bg-gray-200 text-green-700 font-bold cursor-default text-xl py-1 px-2 mx-1 rounded">👤 {{ profile_data.username }}</div>
        <div class="bg-gray-200 text-green-700 font-bold cursor-default text-xl py-1 px-2 mx-1 rounded">👨‍💼 {{ role_data }}</div>
        <div class="bg-gray-200 text-green-700 font-bold cursor-default text-xl py-1 px-2 mx-1 rounded">🏠 {{ profile_data.alamat_kabkot|lower|title }}, {{ profile_data.alamat_prov|lower|title }}</div>
        <div class="bg-gray-200 text-green-700 font-bold cursor-default text-xl py-1 px-2 mx-1 rounded">📞 {{ profile_data.no_telepon }}</div>
      </div>
      <a href="{% url 'users:logout' %}" class="focus:outline-none">
        <button type="button" class="bg-red-400 mx-2 w-40 text-white font-bold py-2 px-4 border rounded mr-2 mt-10 focus:outline-none focus:ring">
          Keluar
        </button>
      </a>
    </section>
    <section class="w-full bg-gray-100 flex flex-wrap justify-center items-center px-32 pt-5 pb-10">
      <div class="p-5 text-center relative hover:opacity-95 bg-green-500 rounded-md w-48 h-48 text-green-700 text-md flex flex-col justify-center items-center mx-5 mt-5">
        <h5 class="text-white font-bold text-5 text-xl mb-5">Permohonan Sumber Daya</h5>
        <div class="absolute bottom-5 flex justify-around">
          <div style="margin: 0 4.5px;" class="font-bold cursor-pointer hover:bg-yellow-400 bg-yellow-300 w-7 h-7 flex items-center justify-center text-white rounded">R</div>
        </div>
      </div>
      <div class="p-5 text-center relative hover:opacity-95 bg-green-500 rounded-md w-48 h-48 text-green-700 text-md flex flex-col justify-center items-center mx-5 mt-5">
        <h5 class="text-white font-bold text-5 text-xl mb-5">Riwayat Status Permohonan</h5>
        <div class="absolute bottom-5 flex justify-around">
          <div style="margin: 0 4.5px;" class="font-bold cursor-pointer hover:bg-blue-600 bg-blue-500 w-7 h-7 flex items-center justify-center text-white rounded">C</div>
          <div style="margin: 0 4.5px;" class="font-bold cursor-pointer hover:bg-yellow-400 bg-yellow-300 w-7 h-7 flex items-center justify-center text-white rounded">R</div>
        </div>
      </div>
      <div class="p-5 text-center relative hover:opacity-95 bg-green-500 rounded-md w-48 h-48 text-green-700 text-md flex flex-col justify-center items-center mx-5 mt-5">
        <h5 class="text-white font-bold text-5 text-xl mb-5">Item Sumber Daya</h5>
        <div class="absolute bottom-5 flex justify-around">
          <div style="margin: 0 4.5px;" class="font-bold cursor-pointer hover:bg-yellow-400 bg-yellow-300 w-7 h-7 flex items-center justify-center text-white rounded">R</div>
        </div>
      </div>
      <div class="p-5 text-center relative hover:opacity-95 bg-green-500 rounded-md w-48 h-48 text-green-700 text-md flex flex-col justify-center items-center mx-5 mt-5">
        <h5 class="text-white font-bold text-5 text-xl mb-5">Pesanan Sumber Daya</h5>
        <div class="absolute bottom-5 flex justify-around">
          <a href="{% url 'pesanan:pesanan' %}">
            <div style="margin: 0 4.5px;" class="font-bold cursor-pointer hover:bg-blue-600 bg-blue-500 w-7 h-7 flex items-center justify-center text-white rounded">C</div>
          </a>
          <a href="{% url 'pesanan:pesanan' %}">
            <div style="margin: 0 4.5px;" class="font-bold cursor-pointer hover:bg-yellow-400 bg-yellow-300 w-7 h-7 flex items-center justify-center text-white rounded">R</div>
          </a>
        </div>
      </div>
      <div class="p-5 text-center relative hover:opacity-95 bg-green-500 rounded-md w-48 h-48 text-green-700 text-md flex flex-col justify-center items-center mx-5 mt-5">
        <h5 class="text-white font-bold text-5 text-xl mb-5">Riwayat Status Pesanan</h5>
        <div class="absolute bottom-5 flex justify-around">
          <div style="margin: 0 4.5px;" class="font-bold cursor-pointer hover:bg-blue-600 bg-blue-500 w-7 h-7 flex items-center justify-center text-white rounded">C</div>
          <div style="margin: 0 4.5px;" class="font-bold cursor-pointer hover:bg-yellow-400 bg-yellow-300 w-7 h-7 flex items-center justify-center text-white rounded">R</div>
        </div>
      </div>
      <div class="p-5 text-center relative hover:opacity-95 bg-green-500 rounded-md w-48 h-48 text-green-700 text-md flex flex-col justify-center items-center mx-5 mt-5">
        <h5 class="text-white font-bold text-5 text-xl mb-5">Kendaraan</h5>
        <div class="absolute bottom-5 flex justify-around">
          <div style="margin: 0 4.5px;" class="font-bold cursor-pointer hover:bg-blue-600 bg-blue-500 w-7 h-7 flex items-center justify-center text-white rounded">C</div>
          <div style="margin: 0 4.5px;" class="font-bold cursor-pointer hover:bg-yellow-400 bg-yellow-300 w-7 h-7 flex items-center justify-center text-white rounded">R</div>
        </div>
      </div>
      <div class="p-5 text-center relative hover:opacity-95 bg-green-500 rounded-md w-48 h-48 text-green-700 text-md flex flex-col justify-center items-center mx-5 mt-5">
        <h5 class="text-white font-bold text-5 text-xl mb-5">Batch Pengiriman</h5>
        <div class="absolute bottom-5 flex justify-around">
          <div style="margin: 0 4.5px;" class="font-bold cursor-pointer hover:bg-blue-600 bg-blue-500 w-7 h-7 flex items-center justify-center text-white rounded">C</div>
          <div style="margin: 0 4.5px;" class="font-bold cursor-pointer hover:bg-yellow-400 bg-yellow-300 w-7 h-7 flex items-center justify-center text-white rounded">R</div>
        </div>
      </div>
      <div class="p-5 text-center relative hover:opacity-95 bg-green-500 rounded-md w-48 h-48 text-green-700 text-md flex flex-col justify-center items-center mx-5 mt-5">
        <h5 class="text-white font-bold text-5 text-xl mb-5">Riwayat Status Batch</h5>
        <div class="absolute bottom-5 flex justify-around">
          <div style="margin: 0 4.5px;" class="font-bold cursor-pointer hover:bg-blue-600 bg-blue-500 w-7 h-7 flex items-center justify-center text-white rounded">C</div>
          <div style="margin: 0 4.5px;" class="font-bold cursor-pointer hover:bg-yellow-400 bg-yellow-300 w-7 h-7 flex items-center justify-center text-white rounded">R</div>
        </div>
      </div>
      <div class="p-5 text-center relative hover:opacity-95 bg-green-500 rounded-md w-48 h-48 text-green-700 text-md flex flex-col justify-center items-center mx-5 mt-5">
        <h5 class="text-white font-bold text-5 text-xl mb-5">Lokasi</h5>
        <div class="absolute bottom-5 flex justify-around">
          <div style="margin: 0 4.5px;" class="font-bold cursor-pointer hover:bg-blue-600 bg-blue-500 w-7 h-7 flex items-center justify-center text-white rounded">C</div>
          <div style="margin: 0 4.5px;" class="font-bold cursor-pointer hover:bg-yellow-400 bg-yellow-300 w-7 h-7 flex items-center justify-center text-white rounded">R</div>
        </div>
      </div>
      <div class="p-5 text-center relative hover:opacity-95 bg-green-500 rounded-md w-48 h-48 text-green-700 text-md flex flex-col justify-center items-center mx-5 mt-5">
        <h5 class="text-white font-bold text-5 text-xl mb-5">Fasilitas Kesehatan</h5>
        <div class="absolute bottom-5 flex justify-around">
          <a href="{% url 'cek_lokasi:tambah_faskes' %}">
            <div style="margin: 0 4.5px;" class="font-bold cursor-pointer hover:bg-blue-600 bg-blue-500 w-7 h-7 flex items-center justify-center text-white rounded">C</div>
          </a>
          <a href="{% url 'cek_lokasi:insert_to_faskes_table' %}">
            <div style="margin: 0 4.5px;" class="font-bold cursor-pointer hover:bg-yellow-400 bg-yellow-300 w-7 h-7 flex items-center justify-center text-white rounded">R</div>
          </a>
        </div>
      </div>
      <div class="p-5 text-center relative hover:opacity-95 bg-green-500 rounded-md w-48 h-48 text-green-700 text-md flex flex-col justify-center items-center mx-5 mt-5">
        <h5 class="text-white font-bold text-5 text-xl mb-5">Stok Fasilitas Kesehatan</h5>
        <div class="absolute bottom-5 flex justify-around">
          <a class="{% url 'pesanan:stok-faskes-create' %}">
            <div style="margin: 0 4.5px;" class="font-bold cursor-pointer hover:bg-blue-600 bg-blue-500 w-7 h-7 flex items-center justify-center text-white rounded">C</div>
          </a>
          <a class="{% url 'pesanan:stok-faskes' %}">
            <div style="margin: 0 4.5px;" class="font-bold cursor-pointer hover:bg-yellow-400 bg-yellow-300 w-7 h-7 flex items-center justify-center text-white rounded">R</div>
          </a>
        </div>
      </div>
      <div class="p-5 text-center relative hover:opacity-95 bg-green-500 rounded-md w-48 h-48 text-green-700 text-md flex flex-col justify-center items-center mx-5 mt-5">
        <h5 class="text-white font-bold text-5 text-xl mb-5">Warehouse Satgas</h5>
        <div class="absolute bottom-5 flex justify-around">
          <a href="{% url 'cek_lokasi:tambah_warehouse_satgas' %}">
          <div style="margin: 0 4.5px;" class="font-bold cursor-pointer hover:bg-blue-600 bg-blue-500 w-7 h-7 flex items-center justify-center text-white rounded">C</div>
          </a>

          <a href="{% url 'cek_lokasi:insert_to_ws_table' %}">
          <div style="margin: 0 4.5px;" class="font-bold cursor-pointer hover:bg-yellow-400 bg-yellow-300 w-7 h-7 flex items-center justify-center text-white rounded">R</div>
          </a>
        </div>
      </div>
      <div class="p-5 text-center relative hover:opacity-95 bg-green-500 rounded-md w-48 h-48 text-green-700 text-md flex flex-col justify-center items-center mx-5 mt-5">
        <h5 class="text-white font-bold text-5 text-xl mb-5">Stok Warehouse Satgas</h5>
        <div class="absolute bottom-5 flex justify-around">
          <div style="margin: 0 4.5px;" class="font-bold cursor-pointer hover:bg-blue-600 bg-blue-500 w-7 h-7 flex items-center justify-center text-white rounded">C</div>
          <div style="margin: 0 4.5px;" class="font-bold cursor-pointer hover:bg-yellow-400 bg-yellow-300 w-7 h-7 flex items-center justify-center text-white rounded">R</div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}