<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="w-screen h-screen bg-gradient-to-b from-green-400 via-green-500 to-green-600 text-center flex flex-col items-center justify-center">
    <section class="w-2/3">
      <h2 class="text-yellow-300 text-9xl font-black">
        SIDIA
      </h2>
      <h3 class="text-white text-5xl font-bold">
        Sistem Distribusi Sumber Daya Penanggulangan COVID-19
      </h3>
    </section>

    <section class="mt-20 mb-10 text">
      <h4 class="text-white text-lg font-bold text-gray-100">Masuk sebagai:</h4>
      <div class="flex mt-5 grid-cols-4 gap-x-4">
        <a href="{% url 'users:login' %}">
          <div class="p-5 cursor-pointer hover:bg-gray-100 bg-gray-200 rounded-md w-48 h-48 text-green-700 text-md flex flex-col justify-center items-center">
            <img class="w-24 mb-5" src="{% static 'dashboard/assets/admin.svg' %}" href="admin" />
            <h5>
              <strong>Admin</strong>
            </h5>
          </div>
        </a>
        <a href="{% url 'users:login' %}">
          <div class="p-5 cursor-pointer hover:bg-gray-100 bg-gray-200 rounded-md w-48 h-48 text-green-700 text-md flex flex-col justify-center items-center">
            <img class="w-24 mb-5" src="{% static 'dashboard/assets/petugas-faskes.svg' %}" href="petugas-faskes" />
            <h5>
              <strong>Petugas Faskes</strong>
            </h5>
          </div>
        </a>
        <a href="{% url 'users:login' %}">
          <div class="p-5 cursor-pointer hover:bg-gray-100 bg-gray-200 rounded-md w-48 h-48 text-green-700 text-md flex flex-col justify-center items-center">
            <img class="w-24 mb-5" src="{% static 'dashboard/assets/supplier.svg' %}" href="supplier" />
            <h5>
              <strong>Supplier</strong>
            </h5>
          </div>
        </a>
        <a href="{% url 'users:login' %}">
          <div class="p-5 cursor-pointer hover:bg-gray-100 bg-gray-200 rounded-md w-48 h-48 text-green-700 text-md flex flex-col justify-center items-center">
            <img class="w-24 mb-5" src="{% static 'dashboard/assets/petugas-distribusi.svg' %}" href="petugas-distribusi" />
            <h5>
              <strong>Petugas Distribusi</strong>
            </h5>
          </div>
        </a>
      </div>
    </section>

    <footer class="absolute bottom-5 text-white">
      <div>Icons made by <a href="https://www.freepik.com" style="text-decoration: underline;" title="Freepik">Freepik</a></div>
    </footer>
  </div>
{% endblock %}
