{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Base CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <!-- Material Design Lite -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/a5686a1bdd.js" crossorigin="anonymous"></script>

    <!-- Material Design Lite Select -->
    <link rel="stylesheet" href="{% static 'css/getmdl-select.min.css' %}">
    <script defer src="{% static 'js/getmdl-select.min.js' %}"></script>

    <!-- Tailwind -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    {% block meta %}
    {% endblock meta %}
  </head>

  <body>
    {% block content %}
    {% endblock content %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </body>
</html>

{% block script %}
{% endblock script %}
